{% extends "base.html" %}

{% block content %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <!-- Post Section -->
            {% for post in posts %}
            <div class="post">
                {% if post.cover_image %}
                <!-- Capa do Post -->
                <img src="{{ post.cover_image.url }}" alt="Capa do Post">
                {% endif %}
                <!-- Título, Categoria, Descrição e Botão "Ver Mais" -->
                <h2>{{ post.title }}</h2>
                <p>Categoria: {{ post.category.name }}</p>
                <p>{{ post.description }}</p>
                <!-- Autor, Data de Publicação e Linguagem em Grade -->
                <div class="row">
                    <div class="col-md-4">
                        <p>Autor: {{ post.author.username }}</p>
                    </div>
                    <div class="col-md-4">
                        <p>Publicado em: {{ post.created_at }}</p>
                    </div>
                    <div class="col-md-4">
                        <p>Linguagem: {{ post.language.name }}</p>
                    </div>
                </div>
                <a href="{% url 'detail' post.id %}" class="btn btn-dark bg-white text-dark">Ver mais</a>
                <a href="{% url 'updade' post.id %}" class="btn btn-dark bg-white text-dark">Editar</a>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-2">
            <h3>Categories</h3>
            <form method="GET" action="{% url 'home' %}">
                <select name="category_id" class="form-control" onchange="this.form.submit()">
                    <option value="">Todas as Categorias</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="col-md-2">
            <h3>Languages</h3>
            <form method="GET" action="{% url 'home' %}">
                <select name="language_id" class="form-control" onchange="this.form.submit()">
                    <option value="">Todas as Linguagens</option>
                    {% for language in languages %}
                        <option value="{{ language.id }}">{{ language.name }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
    
    
</div>

{% endblock content %}

