{% extends "base.html" %}

{% block title %}Register Post{% endblock title %}

{% block content %}
<div class="container mt-4">
  <h2>Register Post</h2>
  <form method="POST" class="mt-4"> {% csrf_token %}

    <div class="form-group">
        {{ post_form.title.errors }} 
        <label for="title"> Title: </label>
        <input type="text" name="title" class="form-control" placeholder="Title" value="{{ post_form.title.value }}">         
    </div>

    <div class="form-group">
        {{ post_form.description.errors }} 
        <label for="description"> Description: </label>
        <textarea name="description" class="form-control" placeholder="Description">{{ post_form.description.value }}</textarea>   
    </div>

    <div class="form-group">
        {{ post_form.content.errors }} 
        <label for="content"> Content: </label>
        <textarea name="content" class="form-control" placeholder="Content">{{ post_form.content.value }}</textarea>   
    </div>

    <div class="form-group">
        {{ post_form.author.errors }} 
        <label for="author"> Author: </label>
        {{ post_form.author }}
    </div>

    <button type="submit" class="btn btn-dark bg-white text-dark">Enviar</button>
  </form>
</div>
{% endblock %}
